---
layout: default
title : Activities
navbar_title: Activities
---

<style>
  .content-wrapper {
    margin: 0 50px;
    top: 50px
  }

  @media (max-width: 768px) {
    .content-wrapper {
      margin: 0 30px;
      top: 50px
    }
  }
</style>

{% assign cards_by_group = site.showcase | sort: "date" | reverse | where: "show", true | group_by_exp: "item", "item.group" %}

{% for group in cards_by_group %}
  <h1>{{ group.name }}</h1>
  <div class="mb-4">
    {% for item in group.items %}
      <div class="my-3 bg-white shadow-sm rounded-sm">
        <div class="content-wrapper py-3">
          {{ item.content }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
